<div class="container bg-dark divStyle">
  <div class="row">
    <div class="col-sm-4">
      <h4>Registerd Office</h4>
    </div>
    <div class="col-sm-8">
      <p>Brigade Gateway, 8th floor,<br>
      26/1, Dr. Rajkumar Road, Malleshwaram(W),<br>
      Bangalore-560055,<br>
      Karnataka, India.<br>
      Contact number:&nbsp; +91 80 33273000<br>
      Email ID:&nbsp;	amznindpr@amazon.com (Public Relation Queries)</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p><b>Customer Care Numbers :</b><br>
        <b>Toll-Free Number :</b></p>
      </div>
      <div class="col-sm-8">
        <p>1800 3000 9009 / 0800496 2449 / 00 1 206-922-0880 <br>
          1800-3000-9009 / 0800496 2449</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p><b>Amazon Official India Website</b></p>
      </div>
      <div class="col-sm-8">
        <a href="https://www.amazon.in/" target="_blank">www.amazon.in</a>
      </div>
    </div>

    </div>
  </div>

