
  <div class="container-fluid bg-light" style="margin-top:50px;">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" [routerLink]="['/about-us']">About Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" [routerLink]="['/contact-us']" >Connect Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" [routerLink]="['/faq']">FAQs</a></li>
      </ul>
      <img src="assets/img/icon3.png" class="iconStyle"/>

    <br>
      <p class="text-center text-muted">© 1996-2022, Amazon.com, Inc. or its affiliates</p>
  </div>
