.divStyle{
  margin-top:50px;
  padding-top: 50px;
  padding-bottom:169px;
}
.rowStyle{
  border:solid 1px rgb(211, 211, 211);
  border-radius: 12px;
  margin-bottom:13px;
  display: flex;
  align-items: center;
}

.headStyle{
  color:whitesmoke;
  border-radius: 6px;
}

