
<div class="container divStyle">
  <div class="row bg-dark headStyle">
    <div class="col-sm-2" style="margin:20px 0px 20px 0px;" ><b>Items</b></div>
    <div class="col-sm-7 row" style="margin:20px 0px 20px 0px;">
        <div class="col-sm-4"><b>Product</b></div>
        <div class="col-sm-4"><b>Description</b></div>
        <div class="col-sm-4"><b>Amount</b></div>
    </div>
    <div class="col-sm-2" style="margin:20px 0px 20px 0px;"><b>Quantity</b></div>
    <div class="col-sm-1" style="margin:20px 0px 20px 0px;" ></div>
  </div>
  <div class="row rowStyle">
    <div class="col-sm-2">
      <img src="" class="img-fluid" style="width:80px;height:100px;" />
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-4" ><b>
          </b>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-outline-warning">+</button>
      3
      <button class="btn btn-outline-warning">-</button>
    </div>
    <div class="col-sm-1"><i class="bi bi-trash"></i></div>
  </div>

  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2" ><button class="btn btn-outline-warning" style="float:right;">Check Out</button></div>

  </div>
</div>
