<div class="container bg-dark text-center divStyle">
  <h3 style="margin-top:-108px;">Frequently Asked Questions</h3>
  <table class="table tableStyle">
      <tr>
        <th>Account related</th>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <th>Order Related</th>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <th>Payment Related</th>
        <td><a href="#">Click Here</a></td>
      </tr>
      <tr>
        <th>Returns and Refund</th>
        <td><a href="#">Click Here</a></td>
      </tr>
  </table>
</div>

