<main class="container">
  <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products$ | async">
        <div class="card" style="width: 18rem; margin-top:50px;">
          <img src="http://localhost:3000/{{product.productImage}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" [style]="styleclass" appTextColor>{{product.productName| titlecase}}</h5>
            <p class="card-text" [style]="styleclass" appTextColor>{{product.productType| titlecase}}</p>
            <p class="card-text" [style]="styleclass"><del>{{product.productPrice|currency:"INR"}}</del>&nbsp;{{product.productPrice|discount:discountrate|currency:"INR"}} ({{discountrate}}% off)</p>
            <app-star [rating]="product.rating" (clickRating)="show($event)"></app-star>
            <p class="text-center">
              <button (click)="addToCart(product._id)" class="btn btn-outline-primary m-2">
                <i class="bi bi-cart-plus"></i>
              </button>
              <button class="btn btn-outline-primary m-2" [routerLink]="['/product','product-details',product._id]">
                <i class="bi bi-eye-fill"></i>
              </button>
            </p>
          </div>
        </div>
      </div>
  </div>
 </main>

